model_config_list: {
  config: {
    name: "baseline/pd",
    base_path: "/serving/models/baseline/pd_l2_clip",
    model_platform: "tensorflow",
    model_version_policy: {
       specific: {
        versions: 0
            }
        }
    }, 
  config: {
    name: "dict_concat/pd",
    base_path: "/serving/models/dict_concat/pd_l2_clip",
    model_platform: "tensorflow",
    model_version_policy: {
       specific: {
        versions: 0
            }
        }
    }, 
  config: {
    name: "dict_hyper/pd",
    base_path: "/serving/models/dict_hyper/pd_l2_clip",
    model_platform: "tensorflow",
    model_version_policy: {
       specific: {
        versions: 0
            }
        }
    }, 
  config: {
    name: "attend_input/pd",
    base_path: "/serving/models/attend_input/pd_l2_clip",
    model_platform: "tensorflow",
    model_version_policy: {
       specific: {
        versions: 0
            }
        }
    }, 
}